:root {
    --doc-height: 100%;
    --background-color: #282829;
    --primary-color: #fff;
    --secondary-color: #000;
    --accent-color: #ffffff8a;
    --alumframe-color: #004e4e;
    /* --ekotech-color: #7ba3dd;
    --accessori-color: #7ba3dd; */
    --max-width: 1200px;
}