:root {
    --doc-height: 100vh;
    --background-color: #282829;
    --primary-color: #fff;
    --secondary-color: #000;
    --accent-color: #ffffff8a;
    --highlight-color: #b8b777;
    --dgt-color: #c00d0d;
    --alumframe-color: #004e4e;
    --ekotech-color: #b4dac5;
    --max-width: 1200px;
}